<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Update Task</title>
</head>
<body>
<h3>Update Task</h3>
<p>
    <a th:href="@{/tasks}">
        Back to task list
    </a>
</p>
<div id="form">
    <form th:action="@{/tasks/update/{id}(id=${task.getId()})}" th:object="${task}" method="POST" novalidate="novalidate">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}"/>
        </div>
        <div>
            <label for="note">Note</label>
            <input type="text" id="note" th:field="*{note}"/>
        </div>
        <div>
            <label for="amount">Amount</label>
            <input type="text" id="amount" th:field="*{amount}"/>
        </div>
        <div>
            <label for="category">Category</label>
            <select id="category" th:field="*{category}">
                <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
            </select>
        </div>
        <input type="submit" value="Edit"/>
    </form>
</div>
</body>
</html>