<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<title>Create Task</title>
</head>
<body>
<h3>Add Task</h3>
<p>
    <a th:href="@{/categories}">
        Back to category list
    </a>
</p>
<form th:action="@{/categories/create}" th:object="${category}" method="POST" novalidate="novalidate">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{name}"/>
    </div>
    <div>
        <label for="description">Note</label>
        <input type="text" id="description" th:field="*{description}"/>
    </div>
    <input type="submit" value="Save"/>
</form>
</body>
</html>